/* For Extra Small Devices */

@media (min-width:0px) {
    .r-heading-3{
        font-size: 1.5rem;
    }
    .r-heading-2{
        font-size: 2.1rem;
    }
    .r-heading-1{
        font-size: 3.3rem;
    }
    .text{
        font-size: 1rem;
    }

       h3.edexlb{
    color: var(--btn-bg-clr);
   }

      h2.edexlb-heading{
    font-weight: 600;
    color: var(--header-font-clr);
   }

       a.wa-btn{
        right: 1rem;
        height: 3rem;
        width: 3rem;
    }

    a.wa-btn i{
    font-size: 1.5rem;
}



    header div.container div.logo img{
        max-height: 3.5rem;
    }

    section.heading h2{
        font-size: 2rem;
    }



    section.heading{
        height: 35vh;
        padding: 4rem 0;
    }


    .btn-1{
    width: 12rem;
    height: 3rem;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    margin-top: 0.25rem;
    }

    

   
   
   img.footer-logo{
    max-width: 17.5vw;
   }
   div.contact-form form{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}






}











/* For Small Devices */


@media (min-width:575px) {
    .r-heading-3{
        font-size: 1.5rem;
    }
    .r-heading-2{
        font-size: 2.1rem;
    }
    .r-heading-1{
        font-size: 4.5rem;
    }
    .text{
        font-size: 1rem;
    }

    section.heading{
        height: 25vh;
        padding: 4rem 0;
    }

   

    .btn-1{
    width: 12rem;
    height: 3rem;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    }

 



      img.footer-logo{
    max-width: 12.5vw;
   }

    footer.container-fluid div.container{
    padding: 0 0 4rem;
   }

  


    
}


/* For Medium Devices */


@media (min-width:768px) {
    .r-heading-3{
        font-size: 1.8rem;
    }
    .r-heading-2{
        font-size: 3.4rem;
    }
    .r-heading-1{
        font-size: 5.4rem;
    }
    .text{
        font-size: 1.2rem;
    }

        a.wa-btn{
        right: 2rem;
        height: 4rem;
        width: 4rem;
    }

    a.wa-btn i{
    font-size: 2.5rem;
}



    

    .btn-1{
    width: 12.1rem;
    height: 3.9rem;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    }






}


/* For Desktop Site in Chrome in Small Devices */


@media (min-width:980px) {

    img.footer-logo{
    max-width: 8vw;
   }

}



/* For Large Devices */


@media (min-width:992px) {
    .r-heading-3{
        font-size: 2.2rem;
    }
    .r-heading-2{
        font-size: 3rem;
    }
    .r-heading-1{
        font-size: 3.3rem;
    }
    .text{
        font-size: 1.2rem;
    }

    header div.container div.logo img{
    max-height: 3.5rem;
    }

    header div.container div.labels label i {
        font-size: 1.6rem;
    }


    section.heading{
        height: 45vh;
        padding: 4rem 0;
    }

    section.heading h2{
        font-size: 2.5rem;
    }

        a.wa-btn{
        right: 2rem;
        height: 3rem;
        width: 3rem;
    }

    a.wa-btn i{
    font-size: 1.5rem;
}

 


    .btn-1{
    width: 12rem;
    height: 3.5rem;
    padding: 1.5rem 2rem;
    margin-top: 1rem;
    }




  

   div.contact-form form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

    div.contact-form form input:nth-child(1){
        grid-area: 1/1/1/2;
    }
    div.contact-form form input:nth-child(2){
        grid-area: 1/2/1/3;
    }
    div.contact-form form input:nth-child(3){
        grid-area: 2/1/2/2;
    }
    div.contact-form form input:nth-child(4){
        grid-area: 2/2/2/3;
    }
    div.contact-form form textarea{
        grid-area: 3/1/3/3;
    }

    div.contact-form form button{
        grid-area: 4/1/4/3;
    }

    footer.container-fluid div.container{
    padding: 0 0 6rem;
   }


}
/* For Ipad Pro Devices */


@media (min-width:1024px) {

    .r-heading-1{
        font-size: 3.5rem;
    }


  


}



/* For Extra Large Devices */


@media (min-width:1200px) {
    .r-heading-3{
        font-size: 2.2rem;
    }
    .r-heading-2{
        font-size: 3rem;
    }
    .r-heading-1{
        font-size: 4.5rem;
    }
    .text{
        font-size: 1.2rem;
    }

    header div.container div.logo img{
    max-height: 3.5rem;
    }

    header div.container div.labels label i {
            font-size: 1.6rem;
    }


  


    .btn-1{
    width: 12rem;
    height: 3.5rem;
    padding: 1.5rem 2rem;
    }



}
